{{ session.flash() }}
{{ form.create('User', {'controller': 'Users', 'action': 'login'}) }}
      <div class="form-group has-feedback">
          <input type="text" class="form-control" name="data[User][username]" placeholder="Login">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
          <input type="password" class="form-control" name="data[User][password]" placeholder="Login">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
                {{ form.checkbox('remember') }} Remember Me
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>
        <!-- /.col -->
      </div>
{{ form.end() }}